
body {
background-image: url("https://img.freepik.com/free-vector/colorful-polka-dots-with-hearts-vector_53876-58091.jpg?w=1480&t=st=1676870051~exp=1676870651~hmac=427c7a65c2094cda1c7b064764256d6fb978e628996049be2845384c6a673270");
background-size: cover;
}

h1 {
color: rgb(37, 15, 48);
}

.list-group {
border: 3px solid black;
border-width: 0 3px 3px 0;
}

.list-group-item button {
display: none;
}

.list-group-item:hover button {
display: initial;
cursor: pointer;
}
